In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [39]:
pokemon = pd.read_csv("pokemon_c.csv")
pokemon.columns.nunique()

46

In [40]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 46 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    800 non-null    int64
 1   #             800 non-null    int64
 2   Name          800 non-null    object
 3   Type 1        800 non-null    object
 4   Type 2        414 non-null    object
 5   Total         800 non-null    int64
 6   HP            800 non-null    int64
 7   Attack        800 non-null    int64
 8   Defense       800 non-null    int64
 9   Sp. Atk       800 non-null    int64
 10  Sp. Def       800 non-null    int64
 11  Speed         800 non-null    int64
 12  Generation    800 non-null    int64
 13  Legendary     800 non-null    bool
 14  name_count    800 non-null    int64
 15  long_name     800 non-null    bool
 16  Name_nospace  800 non-null    object
 17  name_isalpha  800 non-null    bool
 18  Forme         800 non-null    bool
 19  Mega          800 non-null    bool
 20  Mewtwo        800 non-null    bool
 21  Kyurem        800 non-null    bool
 22  Deoxys        800 non-null    bool
 23  Hoopa         800 non-null    bool
 24  Latias        800 non-null    bool
 25  Latios        800 non-null    bool
 26  Kyogre        800 non-null    bool
 27  Groudon       800 non-null    bool
 28  Steel         800 non-null    bool
 29  Water         800 non-null    bool
 30  Fairy         800 non-null    bool
 31  Fighting      800 non-null    bool
 32  Electric      800 non-null    bool
 33  Ground        800 non-null    bool
 34  Poison        800 non-null    bool
 35  Rock          800 non-null    bool
 36  Bug           800 non-null    bool
 37  Fire          800 non-null    bool
 38  Psychic       800 non-null    bool
 39  Ice           800 non-null    bool
 40  Flying        800 non-null    bool
 41  Ghost         800 non-null    bool
 42  Grass         800 non-null    bool
 43  Normal        800 non-null    bool
 44  Dragon        800 non-null    bool
 45  Dark          800 non-null    bool
dtypes: bool(31), int64(11), object(4)
memory usage: 118.1+ KB

In [41]:
pokemon.head()

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,...,Bug,Fire,Psychic,Ice,Flying,Ghost,Grass,Normal,Dragon,Dark
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,...,False,False,False,False,False,False,True,False,False,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,...,False,False,False,False,False,False,True,False,False,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,...,False,False,False,False,False,False,True,False,False,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,...,False,False,False,False,False,False,True,False,False,False
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,...,False,True,False,False,False,False,False,False,False,False

In [42]:
pokemon.columns

Index(['Unnamed: 0', '#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary',
       'name_count', 'long_name', 'Name_nospace', 'name_isalpha', 'Forme',
       'Mega', 'Mewtwo', 'Kyurem', 'Deoxys', 'Hoopa', 'Latias', 'Latios',
       'Kyogre', 'Groudon', 'Steel', 'Water', 'Fairy', 'Fighting', 'Electric',
       'Ground', 'Poison', 'Rock', 'Bug', 'Fire', 'Psychic', 'Ice', 'Flying',
       'Ghost', 'Grass', 'Normal', 'Dragon', 'Dark'],
      dtype='object')

In [43]:
features = pokemon.columns.tolist()
for i in ['Unnamed: 0', '#', 'Name', 'Type 1', 'Type 2', 'Legendary', 'Name_nospace', 'name_isalpha']:
    features.remove(i)

In [44]:
print(features, len(features))

['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'name_count', 'long_name', 'Forme', 'Mega', 'Mewtwo', 'Kyurem', 'Deoxys', 'Hoopa', 'Latias', 'Latios', 'Kyogre', 'Groudon', 'Steel', 'Water', 'Fairy', 'Fighting', 'Electric', 'Ground', 'Poison', 'Rock', 'Bug', 'Fire', 'Psychic', 'Ice', 'Flying', 'Ghost', 'Grass', 'Normal', 'Dragon', 'Dark'] 38

In [45]:
target = "Legendary"

In [46]:
X = pokemon[features]
X.head()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,name_count,long_name,...,Bug,Fire,Psychic,Ice,Flying,Ghost,Grass,Normal,Dragon,Dark
0,318,45,49,49,65,65,45,1,9,False,...,False,False,False,False,False,False,True,False,False,False
1,405,60,62,63,80,80,60,1,7,False,...,False,False,False,False,False,False,True,False,False,False
2,525,80,82,83,100,100,80,1,8,False,...,False,False,False,False,False,False,True,False,False,False
3,625,80,100,123,122,120,80,1,21,True,...,False,False,False,False,False,False,True,False,False,False
4,309,39,52,43,60,50,65,1,10,True,...,False,True,False,False,False,False,False,False,False,False

In [47]:
y = pokemon[target]
y.head()

0    False
1    False
2    False
3    False
4    False
Name: Legendary, dtype: bool

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15)

In [49]:
model = DecisionTreeClassifier(random_state=25)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [50]:
confusion_matrix(y_test, y_pred)

array([[141,   6],
       [  1,  12]], dtype=int64)

In [51]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.99      0.96      0.98       147
        True       0.67      0.92      0.77        13

    accuracy                           0.96       160
   macro avg       0.83      0.94      0.87       160
weighted avg       0.97      0.96      0.96       160