In [33]:
import pandas as pd

In [34]:
customer_1 = pd.read_csv("customer_lib_1.csv")
customer_2 = pd.read_csv("customer_lib_2.csv")
customer_1.head()

,Customer_Id,Name,Nickname,Password,Email,Birth,gender,C.P.,MobileCompany,OS,Class
0,doloribus740,류현숙,Bryce_White,********,xhwang@yu.com,1990-01-21,female,01x9-4x671-x0x6x,LGU,iOS,3
1,expedita131,오지현,Zachary_LightSkyBlue,********,jeongung54@jusighoesa.com,1987-08-17,female,01x9-1x037-x6x5x,MVNO,iOS,3
2,provident683,최민석,Brenda_Violet,********,songyeweon@isoni.org,2004-10-29,male,01x9-5x526-x7x2x,KT,Android,3
3,sequi591,김민수,Kyle_Orange,********,anseonghyeon@ju.com,2000-10-17,male,01x9-1x567-x3x0x,SKT,iOS,2
4,totam890,최미경,Kevin_DarkTurquoise,********,ggim@gimi.kr,1989-02-02,female,01x9-3x802-x3x0x,SKT,iOS,4

In [35]:
customer_2.head()

               Nickname    Defense         HP        int         MP
0           Bryce_White  25.630568  30.047333  80.191590  90.734824
1  Zachary_LightSkyBlue  14.601957  24.901503  23.778162  33.527576
2         Brenda_Violet  37.768119  36.958759  50.672921  47.716956
3           Kyle_Orange  61.736459  59.692233  80.028095  81.593752
4   Kevin_DarkTurquoise  57.515975  50.800429  43.708943  46.930504

In [36]:
customer_1.columns

Index(['Customer_Id', 'Name', 'Nickname', 'Password', 'Email', 'Birth',
       'gender', 'C.P.', 'MobileCompany', 'OS', 'Class'],
      dtype='object')

In [37]:
customer_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer_Id    500 non-null    object
 1   Name           500 non-null    object
 2   Nickname       500 non-null    object
 3   Password       500 non-null    object
 4   Email          500 non-null    object
 5   Birth          500 non-null    object
 6   gender         500 non-null    object
 7   C.P.           500 non-null    object
 8   MobileCompany  500 non-null    object
 9   OS             500 non-null    object
 10  Class          500 non-null    int64
dtypes: int64(1), object(10)
memory usage: 43.1+ KB

In [38]:
customer_1.describe()

            Class
count  500.000000
mean     2.970000
std      0.999549
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      4.000000

In [39]:
x = customer_1['Name']
x

0      류현숙
1      오지현
2      최민석
3      김민수
4      최미경
      ...
495    박영자
496    김미정
497    최성호
498    허경자
499    박준호
Name: Name, Length: 500, dtype: object

In [40]:
customer_1[['Name', 'Email', 'Nickname']]

    Name                      Email                Nickname
0    류현숙              xhwang@yu.com             Bryce_White
1    오지현  jeongung54@jusighoesa.com    Zachary_LightSkyBlue
2    최민석       songyeweon@isoni.org           Brenda_Violet
3    김민수        anseonghyeon@ju.com             Kyle_Orange
4    최미경               ggim@gimi.kr     Kevin_DarkTurquoise
..   ...                        ...                     ...
495  박영자  jeongsugseo@jusighoesa.kr         Jeffrey_DimGray
496  김미정          junhyeog84@yu.net  John_MediumSpringGreen
497  최성호     subinbag@yuhanhoesa.kr        Donald_LawnGreen
498  허경자    gimeunju@yuhanhoesa.net    Bethany_DarkSeaGreen
499  박준호            areumsim@ju.com   Stephen_DarkSlateBlue

[500 rows x 3 columns]

In [41]:
customer_1[customer_1["OS"] == "Android"]

,Customer_Id,Name,Nickname,Password,Email,Birth,gender,C.P.,MobileCompany,OS,Class
2,provident683,최민석,Brenda_Violet,********,songyeweon@isoni.org,2004-10-29,male,01x9-5x526-x7x2x,KT,Android,3
6,eaque461,김수빈,Amber_Pink,********,seojun95@hangimi.net,1999-07-15,male,01x9-5x180-x5x1x,SKT,Android,2
7,explicabo998,김옥자,Michael_SeaShell,********,ai@jusighoesa.com,2006-01-30,male,01x9-5x470-x7x5x,SKT,Android,3
8,eveniet134,김영순,Lisa_Red,********,ou@yu.kr,1984-12-14,male,01x9-7x512-x5x4x,SKT,Android,4
9,expedita123,권우진,John_DodgerBlue,********,junseo80@yu.kr,1985-07-22,female,01x9-2x003-x6x3x,LGU,Android,4
...,...,...,...,...,...,...,...,...,...,...,...
492,voluptatum200,김숙자,Brandy_LightCyan,********,hyeonju88@simno.com,2004-04-10,female,01x9-6x504-x3x8x,KT,Android,4
493,quod243,김옥자,Rebecca_IndianRed,********,jihun43@sinyango.com,1991-12-05,male,01x9-8x958-x0x4x,LGU,Android,1
496,quibusdam437,김미정,John_MediumSpringGreen,********,junhyeog84@yu.net,1993-10-20,male,01x9-2x327-x4x1x,SKT,Android,1
498,recusandae058,허경자,Bethany_DarkSeaGreen,********,gimeunju@yuhanhoesa.net,1998-09-17,male,01x9-0x976-x7x7x,SKT,Android,3
499,nihil065,박준호,Stephen_DarkSlateBlue,********,areumsim@ju.com,1990-08-14,male,01x9-5x263-x0x1x,SKT,Android,3

In [42]:
customer_1[(customer_1['OS'] == "Android") & (customer_1['MobileCompany'] == 'SKT')]

,Customer_Id,Name,Nickname,Password,Email,Birth,gender,C.P.,MobileCompany,OS,Class
6,eaque461,김수빈,Amber_Pink,********,seojun95@hangimi.net,1999-07-15,male,01x9-5x180-x5x1x,SKT,Android,2
7,explicabo998,김옥자,Michael_SeaShell,********,ai@jusighoesa.com,2006-01-30,male,01x9-5x470-x7x5x,SKT,Android,3
8,eveniet134,김영순,Lisa_Red,********,ou@yu.kr,1984-12-14,male,01x9-7x512-x5x4x,SKT,Android,4
10,ea027,진미경,Amber_Maroon,********,minjae18@coeson.kr,1981-06-28,female,01x9-1x384-x1x5x,SKT,Android,2
12,facilis655,박도현,Melanie_Salmon,********,iseongmin@yu.org,1985-02-24,female,01x9-5x970-x6x7x,SKT,Android,4
...,...,...,...,...,...,...,...,...,...,...,...
490,adipisci111,허종수,Colleen_SaddleBrown,********,nammiyeong@yuhanhoesa.kr,1995-06-24,male,01x9-5x812-x4x7x,SKT,Android,1
491,deleniti768,최명자,William_SteelBlue,********,vju@yu.net,1991-03-17,male,01x9-0x435-x6x1x,SKT,Android,3
496,quibusdam437,김미정,John_MediumSpringGreen,********,junhyeog84@yu.net,1993-10-20,male,01x9-2x327-x4x1x,SKT,Android,1
498,recusandae058,허경자,Bethany_DarkSeaGreen,********,gimeunju@yuhanhoesa.net,1998-09-17,male,01x9-0x976-x7x7x,SKT,Android,3
499,nihil065,박준호,Stephen_DarkSlateBlue,********,areumsim@ju.com,1990-08-14,male,01x9-5x263-x0x1x,SKT,Android,3

In [43]:
customer_1.iloc[11]  # 인덱스 번호로 행 불러오기

Customer_Id             tenetur677
Name                           한명자
Nickname            Lisa_RosyBrown
Password                  ********
Email            bagseongmin@ju.kr
Birth                   2001-10-30
gender                        male
C.P.              01x9-2x941-x9x9x
MobileCompany                  SKT
OS                             iOS
Class                            4
Name: 11, dtype: object

In [44]:
customer_1.iloc[11, :3]  # 인덱스 슬라이싱 사용해서 칼럼도 자르기

Customer_Id        tenetur677
Name                      한명자
Nickname       Lisa_RosyBrown
Name: 11, dtype: object

In [45]:
customer_1.loc[11]  # 인덱스명 이 11인 행 불러오기

Customer_Id             tenetur677
Name                           한명자
Nickname            Lisa_RosyBrown
Password                  ********
Email            bagseongmin@ju.kr
Birth                   2001-10-30
gender                        male
C.P.              01x9-2x941-x9x9x
MobileCompany                  SKT
OS                             iOS
Class                            4
Name: 11, dtype: object

In [46]:
customer_1.loc[11, ['Name', 'Nickname', "Email"]]  # 인덱스명, 칼럼명으로 불러오기

Name                      한명자
Nickname       Lisa_RosyBrown
Email       bagseongmin@ju.kr
Name: 11, dtype: object

In [47]:
customer_2['HP'] + customer_2['MP']  # 열끼리 더하기

0      120.782157
1       58.429080
2       84.675715
3      141.285985
4       97.730933
          ...
495    153.094556
496    115.682869
497     90.517022
498    142.116421
499     79.242787
Length: 500, dtype: float64

In [48]:
customer_2['Avg'] = (customer_2['HP'] + customer_2['MP']) / 2
customer_2

,Nickname,Defense,HP,int,MP,Avg
0,Bryce_White,25.630568,30.047333,80.191590,90.734824,60.391079
1,Zachary_LightSkyBlue,14.601957,24.901503,23.778162,33.527576,29.214540
2,Brenda_Violet,37.768119,36.958759,50.672921,47.716956,42.337857
3,Kyle_Orange,61.736459,59.692233,80.028095,81.593752,70.642993
4,Kevin_DarkTurquoise,57.515975,50.800429,43.708943,46.930504,48.865466
...,...,...,...,...,...,...
495,Jeffrey_DimGray,100.000000,100.000000,55.598552,53.094556,76.547278
496,John_MediumSpringGreen,38.437986,50.819602,54.639640,64.863266,57.841434
497,Donald_LawnGreen,47.392362,53.366615,47.435131,37.150407,45.258511
498,Bethany_DarkSeaGreen,59.112459,69.812357,59.936633,72.304064,71.058210
499,Stephen_DarkSlateBlue,47.564891,51.952629,34.681843,27.290158,39.621393

In [49]:
# concat은 말 그대로 이어붙이기 axis값0이면 행을 건드림
pd.concat([customer_1, customer_2], axis=0)

,Customer_Id,Name,Nickname,Password,Email,Birth,gender,C.P.,MobileCompany,OS,Class,Defense,HP,int,MP,Avg
0,doloribus740,류현숙,Bryce_White,********,xhwang@yu.com,1990-01-21,female,01x9-4x671-x0x6x,LGU,iOS,3.0,NaN,NaN,NaN,NaN,NaN
1,expedita131,오지현,Zachary_LightSkyBlue,********,jeongung54@jusighoesa.com,1987-08-17,female,01x9-1x037-x6x5x,MVNO,iOS,3.0,NaN,NaN,NaN,NaN,NaN
2,provident683,최민석,Brenda_Violet,********,songyeweon@isoni.org,2004-10-29,male,01x9-5x526-x7x2x,KT,Android,3.0,NaN,NaN,NaN,NaN,NaN
3,sequi591,김민수,Kyle_Orange,********,anseonghyeon@ju.com,2000-10-17,male,01x9-1x567-x3x0x,SKT,iOS,2.0,NaN,NaN,NaN,NaN,NaN
4,totam890,최미경,Kevin_DarkTurquoise,********,ggim@gimi.kr,1989-02-02,female,01x9-3x802-x3x0x,SKT,iOS,4.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,NaN,NaN,Jeffrey_DimGray,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000,55.598552,53.094556,76.547278
496,NaN,NaN,John_MediumSpringGreen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.437986,50.819602,54.639640,64.863266,57.841434
497,NaN,NaN,Donald_LawnGreen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.392362,53.366615,47.435131,37.150407,45.258511
498,NaN,NaN,Bethany_DarkSeaGreen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.112459,69.812357,59.936633,72.304064,71.058210
499,NaN,NaN,Stephen_DarkSlateBlue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.564891,51.952629,34.681843,27.290158,39.621393

In [50]:
# axis 1 이면 열을 건드림
pd.concat([customer_1, customer_2], axis=1)

,Customer_Id,Name,Nickname,Password,Email,Birth,gender,C.P.,MobileCompany,OS,Class,Nickname,Defense,HP,int,MP,Avg
0,doloribus740,류현숙,Bryce_White,********,xhwang@yu.com,1990-01-21,female,01x9-4x671-x0x6x,LGU,iOS,3,Bryce_White,25.630568,30.047333,80.191590,90.734824,60.391079
1,expedita131,오지현,Zachary_LightSkyBlue,********,jeongung54@jusighoesa.com,1987-08-17,female,01x9-1x037-x6x5x,MVNO,iOS,3,Zachary_LightSkyBlue,14.601957,24.901503,23.778162,33.527576,29.214540
2,provident683,최민석,Brenda_Violet,********,songyeweon@isoni.org,2004-10-29,male,01x9-5x526-x7x2x,KT,Android,3,Brenda_Violet,37.768119,36.958759,50.672921,47.716956,42.337857
3,sequi591,김민수,Kyle_Orange,********,anseonghyeon@ju.com,2000-10-17,male,01x9-1x567-x3x0x,SKT,iOS,2,Kyle_Orange,61.736459,59.692233,80.028095,81.593752,70.642993
4,totam890,최미경,Kevin_DarkTurquoise,********,ggim@gimi.kr,1989-02-02,female,01x9-3x802-x3x0x,SKT,iOS,4,Kevin_DarkTurquoise,57.515975,50.800429,43.708943,46.930504,48.865466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,expedita399,박영자,Jeffrey_DimGray,********,jeongsugseo@jusighoesa.kr,1997-10-16,female,01x9-8x765-x6x6x,SKT,iOS,1,Jeffrey_DimGray,100.000000,100.000000,55.598552,53.094556,76.547278
496,quibusdam437,김미정,John_MediumSpringGreen,********,junhyeog84@yu.net,1993-10-20,male,01x9-2x327-x4x1x,SKT,Android,1,John_MediumSpringGreen,38.437986,50.819602,54.639640,64.863266,57.841434
497,reiciendis486,최성호,Donald_LawnGreen,********,subinbag@yuhanhoesa.kr,2003-04-07,male,01x9-6x908-x0x9x,SKT,iOS,4,Donald_LawnGreen,47.392362,53.366615,47.435131,37.150407,45.258511
498,recusandae058,허경자,Bethany_DarkSeaGreen,********,gimeunju@yuhanhoesa.net,1998-09-17,male,01x9-0x976-x7x7x,SKT,Android,3,Bethany_DarkSeaGreen,59.112459,69.812357,59.936633,72.304064,71.058210
499,nihil065,박준호,Stephen_DarkSlateBlue,********,areumsim@ju.com,1990-08-14,male,01x9-5x263-x0x1x,SKT,Android,3,Stephen_DarkSlateBlue,47.564891,51.952629,34.681843,27.290158,39.621393

In [51]:
# 공통된 부분으로 두개의 데이터 결합하기
customer = pd.merge(customer_1, customer_2)
customer

,Customer_Id,Name,Nickname,Password,Email,Birth,gender,C.P.,MobileCompany,OS,Class,Defense,HP,int,MP,Avg
0,doloribus740,류현숙,Bryce_White,********,xhwang@yu.com,1990-01-21,female,01x9-4x671-x0x6x,LGU,iOS,3,25.630568,30.047333,80.191590,90.734824,60.391079
1,expedita131,오지현,Zachary_LightSkyBlue,********,jeongung54@jusighoesa.com,1987-08-17,female,01x9-1x037-x6x5x,MVNO,iOS,3,14.601957,24.901503,23.778162,33.527576,29.214540
2,provident683,최민석,Brenda_Violet,********,songyeweon@isoni.org,2004-10-29,male,01x9-5x526-x7x2x,KT,Android,3,37.768119,36.958759,50.672921,47.716956,42.337857
3,sequi591,김민수,Kyle_Orange,********,anseonghyeon@ju.com,2000-10-17,male,01x9-1x567-x3x0x,SKT,iOS,2,61.736459,59.692233,80.028095,81.593752,70.642993
4,totam890,최미경,Kevin_DarkTurquoise,********,ggim@gimi.kr,1989-02-02,female,01x9-3x802-x3x0x,SKT,iOS,4,57.515975,50.800429,43.708943,46.930504,48.865466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,expedita399,박영자,Jeffrey_DimGray,********,jeongsugseo@jusighoesa.kr,1997-10-16,female,01x9-8x765-x6x6x,SKT,iOS,1,100.000000,100.000000,55.598552,53.094556,76.547278
496,quibusdam437,김미정,John_MediumSpringGreen,********,junhyeog84@yu.net,1993-10-20,male,01x9-2x327-x4x1x,SKT,Android,1,38.437986,50.819602,54.639640,64.863266,57.841434
497,reiciendis486,최성호,Donald_LawnGreen,********,subinbag@yuhanhoesa.kr,2003-04-07,male,01x9-6x908-x0x9x,SKT,iOS,4,47.392362,53.366615,47.435131,37.150407,45.258511
498,recusandae058,허경자,Bethany_DarkSeaGreen,********,gimeunju@yuhanhoesa.net,1998-09-17,male,01x9-0x976-x7x7x,SKT,Android,3,59.112459,69.812357,59.936633,72.304064,71.058210
499,nihil065,박준호,Stephen_DarkSlateBlue,********,areumsim@ju.com,1990-08-14,male,01x9-5x263-x0x1x,SKT,Android,3,47.564891,51.952629,34.681843,27.290158,39.621393

In [52]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer_Id    500 non-null    object
 1   Name           500 non-null    object
 2   Nickname       500 non-null    object
 3   Password       500 non-null    object
 4   Email          500 non-null    object
 5   Birth          500 non-null    object
 6   gender         500 non-null    object
 7   C.P.           500 non-null    object
 8   MobileCompany  500 non-null    object
 9   OS             500 non-null    object
 10  Class          500 non-null    int64
 11  Defense        500 non-null    float64
 12  HP             500 non-null    float64
 13  int            500 non-null    float64
 14  MP             500 non-null    float64
 15  Avg            500 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 62.6+ KB

In [53]:
customer.drop(['Password', 'C.P.'], axis=1, inplace=True)  # Password C.P. 열을 지우기

In [54]:
customer

,Customer_Id,Name,Nickname,Email,Birth,gender,MobileCompany,OS,Class,Defense,HP,int,MP,Avg
0,doloribus740,류현숙,Bryce_White,xhwang@yu.com,1990-01-21,female,LGU,iOS,3,25.630568,30.047333,80.191590,90.734824,60.391079
1,expedita131,오지현,Zachary_LightSkyBlue,jeongung54@jusighoesa.com,1987-08-17,female,MVNO,iOS,3,14.601957,24.901503,23.778162,33.527576,29.214540
2,provident683,최민석,Brenda_Violet,songyeweon@isoni.org,2004-10-29,male,KT,Android,3,37.768119,36.958759,50.672921,47.716956,42.337857
3,sequi591,김민수,Kyle_Orange,anseonghyeon@ju.com,2000-10-17,male,SKT,iOS,2,61.736459,59.692233,80.028095,81.593752,70.642993
4,totam890,최미경,Kevin_DarkTurquoise,ggim@gimi.kr,1989-02-02,female,SKT,iOS,4,57.515975,50.800429,43.708943,46.930504,48.865466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,expedita399,박영자,Jeffrey_DimGray,jeongsugseo@jusighoesa.kr,1997-10-16,female,SKT,iOS,1,100.000000,100.000000,55.598552,53.094556,76.547278
496,quibusdam437,김미정,John_MediumSpringGreen,junhyeog84@yu.net,1993-10-20,male,SKT,Android,1,38.437986,50.819602,54.639640,64.863266,57.841434
497,reiciendis486,최성호,Donald_LawnGreen,subinbag@yuhanhoesa.kr,2003-04-07,male,SKT,iOS,4,47.392362,53.366615,47.435131,37.150407,45.258511
498,recusandae058,허경자,Bethany_DarkSeaGreen,gimeunju@yuhanhoesa.net,1998-09-17,male,SKT,Android,3,59.112459,69.812357,59.936633,72.304064,71.058210
499,nihil065,박준호,Stephen_DarkSlateBlue,areumsim@ju.com,1990-08-14,male,SKT,Android,3,47.564891,51.952629,34.681843,27.290158,39.621393

In [55]:
customer["Avg"].idxmax(axis=0)

306

In [56]:
customer.loc[306]

Customer_Id                     modi899
Name                                장상훈
Nickname                   Adam_DimGray
Email            yeongsug49@yanggim.com
Birth                        1994-12-14
gender                             male
MobileCompany                        KT
OS                                  iOS
Class                                 2
Defense                       96.462225
HP                            99.276001
int                           89.557178
MP                            87.693416
Avg                           93.484709
Name: 306, dtype: object

In [57]:
import numpy as np

In [58]:
customer.sample(n=20)

,Customer_Id,Name,Nickname,Email,Birth,gender,MobileCompany,OS,Class,Defense,HP,int,MP,Avg
246,delectus318,고채원,Latoya_SteelBlue,sunjagim@minganggang.org,1984-04-10,female,SKT,Android,2,87.565781,82.958696,61.619174,49.781971,66.370334
275,voluptatum713,최미경,Matthew_Chocolate,rcoe@yu.com,1999-07-05,male,KT,Android,3,47.566601,51.725232,58.431990,62.869941,57.297586
180,porro149,김옥자,Sean_SlateGray,gimeunji@yu.com,1995-11-25,female,LGU,Android,4,73.465003,60.401846,67.118903,66.488037,63.444941
31,atque527,이예은,Richard_PapayaWhip,hyeonji43@jusighoesa.org,1990-06-29,female,SKT,iOS,2,47.668239,35.212067,24.917940,26.999272,31.105670
0,doloribus740,류현숙,Bryce_White,xhwang@yu.com,1990-01-21,female,LGU,iOS,3,25.630568,30.047333,80.191590,90.734824,60.391079
367,mollitia864,이명자,Matthew_LightSlateGray,pi@gimimyun.com,1997-07-11,female,MVNO,iOS,3,43.045155,40.753370,30.606718,45.103755,42.928563
71,veritatis107,이광수,Cory_Cyan,lgim@gimgangheo.org,1995-02-10,male,SKT,iOS,4,60.030649,65.729839,39.583349,55.063013,60.396426
154,deserunt719,강지훈,Mikayla_PaleTurquoise,sanghunjang@jusighoesa.org,1982-10-10,male,MVNO,Android,4,61.712572,69.043824,29.268013,32.383034,50.713429
82,occaecati653,양우진,Anthony_DarkKhaki,yeongja05@hongryui.net,1982-11-15,male,SKT,iOS,3,52.742155,50.223564,43.742308,41.407590,45.815577
132,mollitia065,이서영,Aaron_SpringGreen,pseo@bagugim.kr,1988-09-03,male,SKT,Android,4,46.360634,57.291426,73.800894,68.338551,62.814988
93,nemo122,윤진호,Robert_Silver,iyeongho@ju.net,2000-10-14,male,MVNO,iOS,1,44.678332,41.238005,65.181782,62.251755,51.744880
176,sed415,이재호,Nicole_Orchid,hyeonjeonggu@yu.com,1996-12-12,male,SKT,Android,3,50.340986,58.312372,53.077182,55.362299,56.837336
424,fugiat532,김미정,Sydney_Orchid,ijiweon@bagryu.com,1987-03-21,female,LGU,Android,3,45.534387,47.699953,41.470394,46.909059,47.304506
121,sit324,김서준,William_Aquamarine,hyeonugim@useo.org,1986-06-16,male,SKT,iOS,3,50.103496,45.995458,52.975998,48.914646,47.455052
493,quod243,김옥자,Rebecca_IndianRed,jihun43@sinyango.com,1991-12-05,male,LGU,Android,1,60.051901,67.847125,59.297667,72.530666,70.188896
136,possimus130,박경수,Mary_LimeGreen,seonyeong01@baehagim.net,2004-02-12,female,SKT,iOS,4,43.443535,53.166401,65.910557,62.630685,57.898543
346,quos702,류성현,Johnny_Teal,dgim@jusighoesa.com,2002-02-24,male,SKT,Android,3,36.719780,41.671305,43.220175,46.709305,44.190305
105,veniam397,구시우,Sophia_Salmon,coeyejin@yuhanhoesa.com,1987-09-08,male,LGU,Android,3,54.871626,50.477169,22.319546,27.370377,38.923773
168,occaecati016,장진우,Chad_Tan,bagjiyeong@gugim.kr,1988-07-14,female,SKT,Android,2,63.491038,64.191447,38.507398,39.717405,51.954426
359,provident758,김경수,Curtis_DarkGoldenRod,sangceol32@jusighoesa.com,2005-11-06,male,SKT,Android,3,56.937758,59.644018,39.043458,37.019162,48.331590

In [59]:
# frac 은 비율 0.2면 20% 1이면 100%
customer_sample = customer.sample(frac=0.2)
customer_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 57 to 15
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer_Id    100 non-null    object
 1   Name           100 non-null    object
 2   Nickname       100 non-null    object
 3   Email          100 non-null    object
 4   Birth          100 non-null    object
 5   gender         100 non-null    object
 6   MobileCompany  100 non-null    object
 7   OS             100 non-null    object
 8   Class          100 non-null    int64
 9   Defense        100 non-null    float64
 10  HP             100 non-null    float64
 11  int            100 non-null    float64
 12  MP             100 non-null    float64
 13  Avg            100 non-null    float64
dtypes: float64(5), int64(1), object(8)
memory usage: 11.7+ KB

In [60]:
#customer_sample에서 HP와 Defense 간 상관계수 도출하기
np.corrcoef(customer['HP'], customer['Defense'])

array([[1.        , 0.91775097],
       [0.91775097, 1.        ]])