In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
trade = pd.read_csv("trade.csv")
trade.head()

          기간 국가명      수출건수        수출금액      수입건수       수입금액       무역수지  기타사항
0  2015년 01월  중국  116932.0  12083947.0  334522.0  8143271.0  3940676.0   NaN
1  2015년 01월  미국   65888.0   5561545.0  509564.0  3625062.0  1936484.0   NaN
2  2015년 01월  일본   54017.0   2251307.0   82480.0  3827247.0 -1575940.0   NaN
3  2015년 02월  중국   86228.0   9927642.0  209100.0  6980874.0  2946768.0   NaN
4  2015년 02월  미국   60225.0   5021264.0  428678.0  2998216.0  2023048.0   NaN

In [3]:
trade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      199 non-null    object
 1   국가명     199 non-null    object
 2   수출건수    196 non-null    float64
 3   수출금액    195 non-null    float64
 4   수입건수    196 non-null    float64
 5   수입금액    196 non-null    float64
 6   무역수지    195 non-null    float64
 7   기타사항    0 non-null      float64
dtypes: float64(6), object(2)
memory usage: 12.6+ KB

In [4]:
trade = trade.drop("기타사항", axis=1)

In [9]:
# 결측치가 하나라도 있으면 True
trade.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
194    False
195    False
196     True
197     True
198     True
Length: 199, dtype: bool

In [11]:
trade[trade.isnull().any(axis=1)] # 조건문 사용

            기간 국가명      수출건수  수출금액       수입건수       수입금액  무역수지
191  2020년 04월  미국  105360.0   NaN  1141118.0  5038739.0   NaN
196  2020년 06월  중국       NaN   NaN        NaN        NaN   NaN
197  2020년 06월  미국       NaN   NaN        NaN        NaN   NaN
198  2020년 06월  일본       NaN   NaN        NaN        NaN   NaN

In [13]:
# 결측치가 있는것을 없애주는 함수 dropna
trade.dropna(how="all", subset=["수출건수", "수출금액", "수입건수", "수입금액", "무역수지"], inplace=True)
# how에 any를 주면 하나라도 결측치면 삭제 all 이면 모두 해당되야 삭제 (기본값은 any)
# subset 은 칼럼 기준을 제시 (기본값은 all)

In [14]:
trade[trade.isnull().any(axis=1)]

            기간 국가명      수출건수  수출금액       수입건수       수입금액  무역수지
191  2020년 04월  미국  105360.0   NaN  1141118.0  5038739.0   NaN

위의 결측치를 처리하기 위해 기간에 해당하는 아래 위의 값의 평균을 사용하기로 함.

In [16]:
trade[(trade['국가명']=='미국')&((trade['기간']=='2020년 03월')|(trade['기간']=='2020년 05월'))] # |는 합집합 기호

            기간 국가명      수출건수       수출금액       수입건수       수입금액       무역수지
188  2020년 03월  미국   97117.0  7292838.0  1368345.0  5388338.0  1904500.0
194  2020년 05월  미국  126598.0  4600726.0  1157163.0  4286873.0   313853.0

In [17]:
trade.loc[191, '수출금액'] = (trade.loc[188, '수출금액'] + trade.loc[194, '수출금액'] )/2
trade.loc[191]

기간      2020년 04월
국가명            미국
수출건수     105360.0
수출금액    5946782.0
수입건수    1141118.0
수입금액    5038739.0
무역수지          NaN
Name: 191, dtype: object

In [18]:
trade.loc[191, '무역수지'] = (trade.loc[188, '무역수지'] + trade.loc[194, '무역수지'] )/2
trade.loc[[191]]

            기간 국가명      수출건수       수출금액       수입건수       수입금액       무역수지
191  2020년 04월  미국  105360.0  5946782.0  1141118.0  5038739.0  1109176.5

In [19]:
trade.isnull().sum()

기간      0
국가명     0
수출건수    0
수출금액    0
수입건수    0
수입금액    0
무역수지    0
dtype: int64