In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [82]:
df = pd.read_csv("trade.csv")
df.head()

          기간 국가명      수출건수        수출금액      수입건수       수입금액       무역수지  기타사항
0  2015년 01월  중국  116932.0  12083947.0  334522.0  8143271.0  3940676.0   NaN
1  2015년 01월  미국   65888.0   5561545.0  509564.0  3625062.0  1936484.0   NaN
2  2015년 01월  일본   54017.0   2251307.0   82480.0  3827247.0 -1575940.0   NaN
3  2015년 02월  중국   86228.0   9927642.0  209100.0  6980874.0  2946768.0   NaN
4  2015년 02월  미국   60225.0   5021264.0  428678.0  2998216.0  2023048.0   NaN

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      199 non-null    object
 1   국가명     199 non-null    object
 2   수출건수    196 non-null    float64
 3   수출금액    195 non-null    float64
 4   수입건수    196 non-null    float64
 5   수입금액    196 non-null    float64
 6   무역수지    195 non-null    float64
 7   기타사항    0 non-null      float64
dtypes: float64(6), object(2)
memory usage: 12.6+ KB

In [84]:
df.drop("기타사항",axis=1,inplace=True)

In [85]:
df[df.isnull().any(axis=1)]

            기간 국가명      수출건수  수출금액       수입건수       수입금액  무역수지
191  2020년 04월  미국  105360.0   NaN  1141118.0  5038739.0   NaN
196  2020년 06월  중국       NaN   NaN        NaN        NaN   NaN
197  2020년 06월  미국       NaN   NaN        NaN        NaN   NaN
198  2020년 06월  일본       NaN   NaN        NaN        NaN   NaN

In [86]:
x = df["무역수지"].groupby(df["국가명"] == "미국").mean()
x

국가명
False    7.635770e+05
True     1.486036e+06
Name: 무역수지, dtype: float64

In [87]:
df[["수출건수", "수출금액", "수입건수", "수입금액", "무역수지"]].groupby(df["국가명"]).mean()

              수출건수          수출금액           수입건수          수입금액          무역수지
국가명
미국    80319.353846  5.852103e+06  744377.615385  4.376416e+06  1.486036e+06
일본    75868.338462  2.256469e+06  128967.738462  4.139249e+06 -1.882779e+06
중국   197074.439394  1.155607e+07  280528.363636  8.186234e+06  3.369837e+06

In [89]:
df['무역수지'].fillna(df.groupby('국가명')['무역수지'].transform('mean').round(1), inplace=True)

In [90]:
df.loc[191]

기간      2020년 04월
국가명            미국
수출건수     105360.0
수출금액          NaN
수입건수    1141118.0
수입금액    5038739.0
무역수지    1486036.4
Name: 191, dtype: object

In [91]:
df['수출금액'].fillna(df.groupby('국가명')['수출금액'].transform('mean').round(1), inplace=True)
df.loc[191]

기간      2020년 04월
국가명            미국
수출건수     105360.0
수출금액    5852103.5
수입건수    1141118.0
수입금액    5038739.0
무역수지    1486036.4
Name: 191, dtype: object

In [93]:
df[df.isnull().any(axis=1)]

            기간 국가명  수출건수        수출금액  수입건수  수입금액       무역수지
196  2020년 06월  중국   NaN  11556071.4   NaN   NaN  3369837.1
197  2020년 06월  미국   NaN   5852103.5   NaN   NaN  1486036.4
198  2020년 06월  일본   NaN   2256469.4   NaN   NaN -1882779.4

In [97]:
df.loc[191].values

array(['2020년 04월', '미국', 105360.0, 5852103.5, 1141118.0, 5038739.0,
       1486036.4], dtype=object)