In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
trade = pd.read_csv("trade.csv")
trade = trade.drop("기타사항", axis=1)
trade.dropna(how="all", subset=["수출건수", "수출금액", "수입건수", "수입금액", "무역수지"], inplace=True)
trade.loc[191, '수출금액'] = (trade.loc[188, '수출금액'] + trade.loc[194, '수출금액'] )/2
trade.loc[191, '무역수지'] = (trade.loc[188, '무역수지'] + trade.loc[194, '무역수지'] )/2
trade.drop_duplicates(inplace=True)
cols = ['수출건수', '수출금액', '수입건수', '수입금액', '무역수지']
trade[cols] = (trade[cols]-trade[cols].min())/(trade[cols].max()-trade[cols].min())
trade.head()

          기간 국가명      수출건수      수출금액      수입건수      수입금액      무역수지
0  2015년 01월  중국  0.142372  0.794728  0.197014  0.700903  0.708320
1  2015년 01월  미국  0.035939  0.295728  0.332972  0.085394  0.496512
2  2015년 01월  일본  0.011187  0.042477  0.001249  0.112938  0.125310
3  2015년 02월  중국  0.078351  0.629759  0.099597  0.542551  0.603281
4  2015년 02월  미국  0.024131  0.254394  0.270146  0.000000  0.505660

In [22]:
trade['국가명'].unique()

array(['중국', '미국', '일본'], dtype=object)

### get_dummies 를 사용해서 원핫인코딩 하기

In [23]:
country = pd.get_dummies(trade['국가명'])
country.head()

      미국     일본     중국
0  False  False   True
1   True  False  False
2  False   True  False
3  False  False   True
4   True  False  False

In [24]:
trade = pd.concat([trade, country], axis=1)
# axis=1 로 주어서 옆으로 붙임
trade.head()

,기간,국가명,수출건수,수출금액,수입건수,수입금액,무역수지,미국,일본,중국
0,2015년 01월,중국,0.142372,0.794728,0.197014,0.700903,0.708320,False,False,True
1,2015년 01월,미국,0.035939,0.295728,0.332972,0.085394,0.496512,True,False,False
2,2015년 01월,일본,0.011187,0.042477,0.001249,0.112938,0.125310,False,True,False
3,2015년 02월,중국,0.078351,0.629759,0.099597,0.542551,0.603281,False,False,True
4,2015년 02월,미국,0.024131,0.254394,0.270146,0.000000,0.505660,True,False,False

In [25]:
trade.drop(['국가명'], axis=1, inplace=True)
trade.head()

,기간,수출건수,수출금액,수입건수,수입금액,무역수지,미국,일본,중국
0,2015년 01월,0.142372,0.794728,0.197014,0.700903,0.708320,False,False,True
1,2015년 01월,0.035939,0.295728,0.332972,0.085394,0.496512,True,False,False
2,2015년 01월,0.011187,0.042477,0.001249,0.112938,0.125310,False,True,False
3,2015년 02월,0.078351,0.629759,0.099597,0.542551,0.603281,False,False,True
4,2015년 02월,0.024131,0.254394,0.270146,0.000000,0.505660,True,False,False