In [20]:
import os
import numpy as np
import pandas as pd 
from sklearn.metrics import r2_score, classification_report, confusion_matrix, accuracy_score, roc_auc_score, roc_curve, precision_recall_curve, average_precision_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

import matplotlib.pyplot as plt

In [21]:
df_v1 = pd.read_csv("dataset_1_labeled_train.csv")
df_v2 = pd.read_csv("dataset_4_labeled_test.csv")

In [22]:
df_v1.head()

,accident_id,created_at_date,car_model_1,car_model_2,car_model_3,car_model_4,car_model_5,sharing_type_0,sharing_type_1,age_group_1,...,total_acc_history_cnt_of_persons_5,acc_hitory_bool_by_0_null,acc_history_bool_by_0_0,acc_history_bool_by_0_1,accumulate_used_count,month,is_fraud,dataset,network,h3
0,1007811,2021-01-03,0,1,0,0,0,1,0,0,...,0,0,1,0,2,1,1,v1,0.0,0.63
1,1007691,2021-01-02,0,1,0,0,0,0,1,1,...,0,0,1,0,1,1,1,v1,1.0,0.56
2,1009501,2021-01-20,0,1,0,0,0,1,0,1,...,0,0,1,0,1,1,1,v1,0.0,0.45
3,1010149,2021-01-26,1,0,0,0,0,1,0,1,...,0,0,1,0,1,1,1,v1,1.0,0.37
4,1008972,2021-01-15,1,0,0,0,0,1,0,0,...,0,0,1,0,1,1,1,v1,1.0,0.75

In [23]:
df_v1.isnull().sum()

accident_id        0
created_at_date    0
car_model_1        0
car_model_2        0
car_model_3        0
                  ..
month              0
is_fraud           0
dataset            0
network            0
h3                 0
Length: 66, dtype: int64

In [24]:
# 필요없는 칼럼 정리, 타겟 칼럼 빼내기
labels = df_v1['is_fraud']
features = df_v1.columns.drop(['month', 'is_fraud', 'dataset', 'accident_id', 'created_at_date'])

In [25]:
# 전처리 - 최빈값으로 null 값을 채웁니다. 
df_v1[features]=df_v1[features].fillna(df_v1.mode().iloc[0])

In [26]:
df_v1

,accident_id,created_at_date,car_model_1,car_model_2,car_model_3,car_model_4,car_model_5,sharing_type_0,sharing_type_1,age_group_1,...,total_acc_history_cnt_of_persons_5,acc_hitory_bool_by_0_null,acc_history_bool_by_0_0,acc_history_bool_by_0_1,accumulate_used_count,month,is_fraud,dataset,network,h3
0,1007811,2021-01-03,0,1,0,0,0,1,0,0,...,0,0,1,0,2,1,1,v1,0.0,0.63
1,1007691,2021-01-02,0,1,0,0,0,0,1,1,...,0,0,1,0,1,1,1,v1,1.0,0.56
2,1009501,2021-01-20,0,1,0,0,0,1,0,1,...,0,0,1,0,1,1,1,v1,0.0,0.45
3,1010149,2021-01-26,1,0,0,0,0,1,0,1,...,0,0,1,0,1,1,1,v1,1.0,0.37
4,1008972,2021-01-15,1,0,0,0,0,1,0,0,...,0,0,1,0,1,1,1,v1,1.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,1008392,2021-01-09,1,0,0,0,0,1,0,0,...,0,0,1,0,4,1,0,v1,1.0,0.66
4316,1008359,2021-01-08,0,1,0,0,0,1,0,0,...,0,0,1,0,4,1,0,v1,0.0,0.55
4317,1012413,2021-02-15,0,1,0,0,0,1,0,0,...,0,0,1,0,1,2,0,v1,1.0,0.66
4318,1013303,2021-02-22,0,1,0,0,0,0,1,0,...,0,0,1,0,1,2,0,v1,1.0,0.63
4319,1012086,2021-02-12,0,1,0,0,0,1,0,0,...,0,0,1,0,4,2,0,v1,1.0,0.61