In [7]:
import requests
import pandas as pd

In [5]:
def get_access_token(consumer_key, consumer_secret) -> None :
    temp_res = requests.get(
        url="https://sgisapi.kostat.go.kr/OpenAPI3/auth/authentication.json",
        params={
            "consumer_key": consumer_key,
            "consumer_secret": consumer_secret
        }
    )

    access_token = temp_res.json()["result"]["accessToken"]

    return access_token


consumer_key = "0557bd5252b34142911d"
consumer_secret = "d90d86911924440786d4"

print('access token: ', get_access_token(consumer_key, consumer_secret))

access token:  dd962b63-9424-480f-bb56-cb424107b8c3

In [8]:
def get_vaccination_center(serviceKey):
    temp_res = requests.get(
        url="https://api.odcloud.kr/api/15077586/v1/centers",
        params={
            "serviceKey": serviceKey
        }
    )

    temp_df = pd.DataFrame(temp_res.json()["data"])

    return temp_df

serviceKey = "LzlBj0p3GnSdSwbZEDsfDJQF13YfSF6S0kxSCOSFap8Vq20jZkVrVykaQ/PQH9CyukrUWhsmA8T85RHFeaz3rg=="
vaccination_center_df = get_vaccination_center(serviceKey)
vaccination_center_df

,address,centerName,centerType,createdAt,facilityName,id,lat,lng,org,phoneNumber,sido,sigungu,updatedAt,zipCode
0,서울특별시 중구 을지로 39길 29,코로나19 중앙 예방접종센터,중앙/권역,2021-03-03 07:00:52,국립중앙의료원 D동,1,37.567817,127.004501,국립중앙의료원,02-2260-7114,서울특별시,중구,2021-07-16 04:55:08,04562
1,충청남도 천안시 동남구 천안대로 357,코로나19 중부권역 예방접종센터,중앙/권역,2021-03-03 07:00:52,천안시 실내배드민턴장 1층,2,36.779887,127.164717,순천향대 천안병원,,충청남도,천안시 동남구,2021-07-16 04:55:08,31212
2,광주광역시 동구 필문대로 365,코로나19 호남권역 예방접종센터,중앙/권역,2021-03-03 07:00:52,조선대학교병원 의성관 5층,3,35.139465,126.925563,조선대병원,062-220-3739,광주광역시,동구,2021-07-16 04:55:08,61452
3,경상남도 양산시 물금읍 금오로 20,코로나19 영남권역 예방접종센터,중앙/권역,2021-03-03 07:00:53,양산 부산대병원 기숙사동 1층,4,35.3239,129.009337,양산 부산대병원,055-360-6701,경상남도,양산시,2021-07-16 04:55:08,50612
4,대구시 중구 달성로 56,코로나19 대구광역시 중구 예방접종센터,지역,2021-03-03 07:00:53,계명대학교 대구동산병원 별관,5,35.869985,128.583716,,053-661-3955,대구광역시,중구,2021-07-16 04:55:09,41931
5,서울특별시 성동구 고산자로 270,코로나19 서울특별시 성동구 예방접종센터,지역,2021-03-15 00:03:43,성동구청 대강당(3층),6,37.563457,127.036981,,02-2286-5084,서울특별시,성동구,2021-07-16 04:55:09,04750
6,부산 부산진구 시민공원로 73,코로나19 부산광역시 부산진구 예방접종센터,지역,2021-03-15 00:03:43,부산시민공원 시민사랑채,7,35.170182,129.059301,,051-605-8633,부산광역시,부산진구,2021-07-16 04:55:09,47197
7,인천광역시 연수구 경원대로 526,코로나19 인천광역시 연수구 예방접종센터,지역,2021-03-15 00:03:43,선학경기장 선학체육관,8,37.429571,126.703271,,032-749-8121,인천광역시,연수구,2021-07-16 04:55:10,21908
8,광주광역시 서구 금화로 278,코로나19 광주광역시 서구 예방접종센터,지역,2021-03-15 00:03:43,빛고을체육관,9,35.135361,126.8771731,,062-371-8731,광주광역시,서구,2021-07-16 04:55:10,62048
9,대전광역시 유성구 유성대로 978,코로나19 대전광역시 유성구 예방접종센터,지역,2021-03-15 00:03:44,유성종합스포츠센터,10,36.378512,127.344399,,042-611-2498,대전광역시,유성구,2021-07-16 04:55:11,34128

In [9]:
vaccination_center_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   address       10 non-null     object
 1   centerName    10 non-null     object
 2   centerType    10 non-null     object
 3   createdAt     10 non-null     object
 4   facilityName  10 non-null     object
 5   id            10 non-null     int64
 6   lat           10 non-null     object
 7   lng           10 non-null     object
 8   org           10 non-null     object
 9   phoneNumber   10 non-null     object
 10  sido          10 non-null     object
 11  sigungu       10 non-null     object
 12  updatedAt     10 non-null     object
 13  zipCode       10 non-null     object
dtypes: int64(1), object(13)
memory usage: 1.2+ KB

In [10]:
def get_sido_info_list(consumer_key, consumer_secret, cd) -> None:
    ACCESS_TOKEN=get_access_token(consumer_key, consumer_secret) # 위에서 정의한 get_access_token 사용
    PARAMS={
        "accessToken": ACCESS_TOKEN,
        "cd": cd # 선택) 최대 5자리, non(default): 시도정보, 2자리: 시군구, 5자리: 읍면동 # 서울은 11
        # "pg_yn": , # 선택) 경계 미포함(default): 0, 경계 포함: 1
    }

    temp_res = requests.get(
        url="https://sgisapi.kostat.go.kr/OpenAPI3/addr/stage.json",
        params=PARAMS
    )

    temp_sido_info_list = temp_res.json()["result"]

    return temp_sido_info_list

print("슝~")

슝~

In [12]:
temp_seoul_info_list = get_sido_info_list(consumer_key, consumer_secret, 11)
temp_seoul_info_list

[{'y_coor': '1944250',
  'full_addr': '서울특별시 강남구',
  'x_coor': '961366',
  'addr_name': '강남구',
  'cd': '11230'},
 {'y_coor': '1950181',
  'full_addr': '서울특별시 강동구',
  'x_coor': '968817',
  'addr_name': '강동구',
  'cd': '11250'},
 {'y_coor': '1960547',
  'full_addr': '서울특별시 강북구',
  'x_coor': '956880',
  'addr_name': '강북구',
  'cd': '11090'},
 {'y_coor': '1951538',
  'full_addr': '서울특별시 강서구',
  'x_coor': '940183',
  'addr_name': '강서구',
  'cd': '11160'},
 {'y_coor': '1941043',
  'full_addr': '서울특별시 관악구',
  'x_coor': '950955',
  'addr_name': '관악구',
  'cd': '11210'},
 {'y_coor': '1949789',
  'full_addr': '서울특별시 광진구',
  'x_coor': '963406',
  'addr_name': '광진구',
  'cd': '11050'},
 {'y_coor': '1944106',
  'full_addr': '서울특별시 구로구',
  'x_coor': '942116',
  'addr_name': '구로구',
  'cd': '11170'},
 {'y_coor': '1940318',
  'full_addr': '서울특별시 금천구',
  'x_coor': '947013',
  'addr_name': '금천구',
  'cd': '11180'},
 {'y_coor': '1961524',
  'full_addr': '서울특별시 노원구',
  'x_coor': '962515',
  'addr_name': '노원구',
  'cd': '11110'},
 {'y_coor': '1963392',
  'full_addr': '서울특별시 도봉구',
  'x_coor': '958762',
  'addr_name': '도봉구',
  'cd': '11100'},
 {'y_coor': '1953724',
  'full_addr': '서울특별시 동대문구',
  'x_coor': '960700',
  'addr_name': '동대문구',
  'cd': '11060'},
 {'y_coor': '1945542',
  'full_addr': '서울특별시 동작구',
  'x_coor': '951541',
  'addr_name': '동작구',
  'cd': '11200'},
 {'y_coor': '1951273',
  'full_addr': '서울특별시 마포구',
  'x_coor': '947740',
  'addr_name': '마포구',
  'cd': '11140'},
 {'y_coor': '1953308',
  'full_addr': '서울특별시 서대문구',
  'x_coor': '950469',
  'addr_name': '서대문구',
  'cd': '11130'},
 {'y_coor': '1941664',
  'full_addr': '서울특별시 서초구',
  'x_coor': '958560',
  'addr_name': '서초구',
  'cd': '11220'},
 {'y_coor': '1950284',
  'full_addr': '서울특별시 성동구',
  'x_coor': '959458',
  'addr_name': '성동구',
  'cd': '11040'},
 {'y_coor': '1956365',
  'full_addr': '서울특별시 성북구',
  'x_coor': '957400',
  'addr_name': '성북구',
  'cd': '11080'},
 {'y_coor': '1945217',
  'full_addr': '서울특별시 송파구',
  'x_coor': '965995',
  'addr_name': '송파구',
  'cd': '11240'},
 {'y_coor': '1947596',
  'full_addr': '서울특별시 양천구',
  'x_coor': '942501',
  'addr_name': '양천구',
  'cd': '11150'},
 {'y_coor': '1947168',
  'full_addr': '서울특별시 영등포구',
  'x_coor': '947876',
  'addr_name': '영등포구',
  'cd': '11190'},
 {'y_coor': '1948126',
  'full_addr': '서울특별시 용산구',
  'x_coor': '954044',
  'addr_name': '용산구',
  'cd': '11030'},
 {'y_coor': '1957902',
  'full_addr': '서울특별시 은평구',
  'x_coor': '949435',
  'addr_name': '은평구',
  'cd': '11120'},
 {'y_coor': '1955185',
  'full_addr': '서울특별시 종로구',
  'x_coor': '953858',
  'addr_name': '종로구',
  'cd': '11010'},
 {'y_coor': '1951313',
  'full_addr': '서울특별시 중구',
  'x_coor': '955475',
  'addr_name': '중구',
  'cd': '11020'},
 {'y_coor': '1955450',
  'full_addr': '서울특별시 중랑구',
  'x_coor': '964062',
  'addr_name': '중랑구',
  'cd': '11070'}]

In [13]:
seoul_info_df = pd.DataFrame(temp_seoul_info_list)
seoul_info_df

     y_coor   full_addr  x_coor addr_name     cd
0   1944250   서울특별시 강남구  961366       강남구  11230
1   1950181   서울특별시 강동구  968817       강동구  11250
2   1960547   서울특별시 강북구  956880       강북구  11090
3   1951538   서울특별시 강서구  940183       강서구  11160
4   1941043   서울특별시 관악구  950955       관악구  11210
5   1949789   서울특별시 광진구  963406       광진구  11050
6   1944106   서울특별시 구로구  942116       구로구  11170
7   1940318   서울특별시 금천구  947013       금천구  11180
8   1961524   서울특별시 노원구  962515       노원구  11110
9   1963392   서울특별시 도봉구  958762       도봉구  11100
10  1953724  서울특별시 동대문구  960700      동대문구  11060
11  1945542   서울특별시 동작구  951541       동작구  11200
12  1951273   서울특별시 마포구  947740       마포구  11140
13  1953308  서울특별시 서대문구  950469      서대문구  11130
14  1941664   서울특별시 서초구  958560       서초구  11220
15  1950284   서울특별시 성동구  959458       성동구  11040
16  1956365   서울특별시 성북구  957400       성북구  11080
17  1945217   서울특별시 송파구  965995       송파구  11240
18  1947596   서울특별시 양천구  942501       양천구  11150
19  1947168  서울특별시 영등포구  947876      영등포구  11190
20  1948126   서울특별시 용산구  954044       용산구  11030
21  1957902   서울특별시 은평구  949435       은평구  11120
22  1955185   서울특별시 종로구  953858       종로구  11010
23  1951313    서울특별시 중구  955475        중구  11020
24  1955450   서울특별시 중랑구  964062       중랑구  11070

In [14]:
seoul_info_df = seoul_info_df[["cd", "full_addr", "addr_name", "x_coor", "y_coor"]]
seoul_info_df

       cd   full_addr addr_name  x_coor   y_coor
0   11230   서울특별시 강남구       강남구  961366  1944250
1   11250   서울특별시 강동구       강동구  968817  1950181
2   11090   서울특별시 강북구       강북구  956880  1960547
3   11160   서울특별시 강서구       강서구  940183  1951538
4   11210   서울특별시 관악구       관악구  950955  1941043
5   11050   서울특별시 광진구       광진구  963406  1949789
6   11170   서울특별시 구로구       구로구  942116  1944106
7   11180   서울특별시 금천구       금천구  947013  1940318
8   11110   서울특별시 노원구       노원구  962515  1961524
9   11100   서울특별시 도봉구       도봉구  958762  1963392
10  11060  서울특별시 동대문구      동대문구  960700  1953724
11  11200   서울특별시 동작구       동작구  951541  1945542
12  11140   서울특별시 마포구       마포구  947740  1951273
13  11130  서울특별시 서대문구      서대문구  950469  1953308
14  11220   서울특별시 서초구       서초구  958560  1941664
15  11040   서울특별시 성동구       성동구  959458  1950284
16  11080   서울특별시 성북구       성북구  957400  1956365
17  11240   서울특별시 송파구       송파구  965995  1945217
18  11150   서울특별시 양천구       양천구  942501  1947596
19  11190  서울특별시 영등포구      영등포구  947876  1947168
20  11030   서울특별시 용산구       용산구  954044  1948126
21  11120   서울특별시 은평구       은평구  949435  1957902
22  11010   서울특별시 종로구       종로구  953858  1955185
23  11020    서울특별시 중구        중구  955475  1951313
24  11070   서울특별시 중랑구       중랑구  964062  1955450

In [15]:
seoul_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   cd         25 non-null     object
 1   full_addr  25 non-null     object
 2   addr_name  25 non-null     object
 3   x_coor     25 non-null     object
 4   y_coor     25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

In [16]:
### 지역코드를 활용해 동 단위 정보를 데이터 프레임으로 가져오는 함수
def get_cd_df(consumer_key, consumer_secret, cd) -> None:
    ACCESS_TOKEN=get_access_token(consumer_key, consumer_secret)
    PARAMS={
        "accessToken": ACCESS_TOKEN,
        "cd": cd # 선택) 최대 5자리, non(default): 시도정보, 2자리: 시군구, 5자리: 읍면동
        # "pg_yn": , # 선택) 경계 미포함(default): 0, 경계 포함: 1
    }

    res = requests.get(
        url="https://sgisapi.kostat.go.kr/OpenAPI3/addr/stage.json",
        params=PARAMS
    )

    # json -> dataframe
    temp_df = pd.DataFrame(res.json()["result"])

    # 컬럼 순서변경
    temp_df = temp_df[["cd", "full_addr", "addr_name", "x_coor", "y_coor"]]

    return temp_df

In [17]:
seoul_sig_cd_list = get_cd_df(consumer_key, consumer_secret, 11)["cd"].values.tolist()
seoul_sig_cd_list

['11230',
 '11250',
 '11090',
 '11160',
 '11210',
 '11050',
 '11170',
 '11180',
 '11110',
 '11100',
 '11060',
 '11200',
 '11140',
 '11130',
 '11220',
 '11040',
 '11080',
 '11240',
 '11150',
 '11190',
 '11030',
 '11120',
 '11010',
 '11020',
 '11070']

In [23]:
# import time
#
# seoul_emd_df = pd.DataFrame()
# for cd in seoul_sig_cd_list:
#     temp_df = get_cd_df(consumer_key, consumer_secret, int(cd))
#     seoul_emd_df = seoul_emd_df.append(temp_df)
#
# seoul_emd_df

In [22]:
import folium

In [24]:
def get_country_info_list(consumer_key, consumer_secret, year) -> None:
    ACCESS_TOKEN=get_access_token(consumer_key, consumer_secret) # 위에서 정의한 get_access_token 사용
    PARAMS={
        "accessToken": ACCESS_TOKEN,
        "year": year, # 연도, (2000, 2005, 2010, 2015)
    }

    temp_res = requests.get(
        url="https://sgisapi.kostat.go.kr/OpenAPI3/stats/farmhousehold.json", # 농가 통계 정보 데이터 API 주소를 입력하세요
        params=PARAMS
    )

    temp_country_info_list= temp_res.json()["result"]

    return temp_country_info_list

In [25]:
temp_country_info_list = get_country_info_list(consumer_key, consumer_secret, 2010)
country_info_df = pd.DataFrame(temp_country_info_list)
country_info_df

   adm_cd farm_cnt   adm_nm avg_population population
0      11     4124    서울특별시              3      13604
1      21     8460    부산광역시              3      24970
2      22    16971    대구광역시              3      50345
3      23    13835    인천광역시              3      37750
4      24    13077    광주광역시              3      37987
5      25     8914    대전광역시              3      27605
6      26    12124    울산광역시              3      34078
7      29     7090  세종특별자치시              3      19380
8      31   135329      경기도              3     412129
9      32    72472      강원도              3     191924
10     33    79307     충청북도              3     209787
11     34   144991     충청남도              3     376676
12     35   109435     전라북도              3     277617
13     36   170214     전라남도              2     395841
14     37   201654     경상북도              2     491234
15     38   141428     경상남도              2     347490
16     39    37893  제주특별자치도              3     114539