In [1]:
import pandas as pd

In [2]:
ser = pd.Series(['a', 'b', 'c', 3])
ser

0    a
1    b
2    c
3    3
dtype: object

In [5]:
print(ser.values)
print(type(ser))

['a' 'b' 'c' 3]
<class 'pandas.core.series.Series'>

In [6]:
ser.index

RangeIndex(start=0, stop=4, step=1)

### Series의 인자로 인덱스 설정하기

In [7]:
ser2 = pd.Series(['a', 'b', 'c', 3], index=['i', 'j', 'k', 'h'])
ser2

i    a
j    b
k    c
h    3
dtype: object

In [9]:
ser2.index = ['Kim', "Lee", "Park", "Jung"]
ser2

Kim     a
Lee     b
Park    c
Jung    3
dtype: object

In [10]:
ser2.index

Index(['Kim', 'Lee', 'Park', 'Jung'], dtype='object')

### 사전형 자료를 판다스 Series 객체로 변형

In [13]:
location = {"Seoul": "02", "Busan": "051", "Deagu": "053", "Gwangju": "062", "Incheon": "032", "Daejun": "042", "Jeju": "064"}
ser3 = pd.Series(location)
ser3

Seoul       02
Busan      051
Deagu      053
Gwangju    062
Incheon    032
Daejun     042
Jeju       064
dtype: object

인덱스가 사전형의 키값이 됨

In [14]:
ser3['Busan']

'051'

In [19]:
ser3["Gwangju":]  # 인덱스 슬라이싱 기법

Gwangju    062
Incheon    032
Daejun     042
Jeju       064
dtype: object

In [21]:
ser3.name = "Korea_LocationNumber"  # 시리즈 자체의 이름을 설정
ser3.index.name = "LocationName"  # 시리즈 인덱스 이름을 설정
ser3

LocationName
Seoul       02
Busan      051
Deagu      053
Gwangju    062
Incheon    032
Daejun     042
Jeju       064
Name: Korea_LocationNumber, dtype: object

In [22]:
data = pd.read_csv("covid19_italy_region.csv")
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6023,6023,2020-12-06T17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,27587,29199,753,76331,2867,108397,983103.0
6024,6024,2020-12-06T17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,5673,6065,234,18619,460,25144,231538.0
6025,6025,2020-12-06T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,877,987,34,5406,333,6726,34644.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [23]:
data.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6027 entries, 0 to 6026
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SNo                        6027 non-null   int64
 1   Date                       6027 non-null   object
 2   Country                    6027 non-null   object
 3   RegionCode                 6027 non-null   int64
 4   RegionName                 6027 non-null   object
 5   Latitude                   6027 non-null   float64
 6   Longitude                  6027 non-null   float64
 7   HospitalizedPatients       6027 non-null   int64
 8   IntensiveCarePatients      6027 non-null   int64
 9   TotalHospitalizedPatients  6027 non-null   int64
 10  HomeConfinement            6027 non-null   int64
 11  CurrentPositiveCases       6027 non-null   int64
 12  NewPositiveCases           6027 non-null   int64
 13  Recovered                  6027 non-null   int64
 14  Deaths                     6027 non-null   int64
 15  TotalPositiveCases         6027 non-null   int64
 16  TestsPerformed             4872 non-null   float64
dtypes: float64(3), int64(11), object(3)
memory usage: 800.6+ KB

In [25]:
data.describe()

,SNo,RegionCode,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
count,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.00000,4.872000e+03
mean,3013.000000,11.857143,43.046293,12.225955,509.093579,55.892318,564.985897,5722.911399,6287.897296,286.885847,9337.852829,1474.370665,17100.12361,2.600810e+05
std,1739.989368,6.274319,2.488987,2.659168,1272.731157,134.957979,1403.362341,15892.768789,16804.884786,818.450458,20551.265039,3365.190225,36934.67627,3.339818e+05
min,0.000000,1.000000,38.115697,7.320149,0.000000,0.000000,0.000000,0.000000,0.000000,-229.000000,0.000000,0.000000,0.00000,3.482000e+03
25%,1506.500000,7.000000,41.125596,11.121231,16.000000,1.000000,17.000000,139.000000,168.000000,4.000000,734.000000,98.000000,1383.50000,6.507375e+04
50%,3013.000000,12.000000,43.616760,12.388247,93.000000,9.000000,106.000000,743.000000,905.000000,31.000000,2840.000000,389.000000,4613.00000,1.365560e+05
75%,4519.500000,17.000000,45.434905,13.768136,384.500000,46.000000,434.000000,3057.000000,3735.000000,159.500000,8450.500000,1102.500000,15304.00000,3.043542e+05
max,6026.000000,22.000000,46.499335,16.867367,12077.000000,1381.000000,13328.000000,155066.000000,164406.000000,11489.000000,289706.000000,23024.000000,429109.00000,2.415099e+06

In [26]:
data.isnull().sum()

SNo                             0
Date                            0
Country                         0
RegionCode                      0
RegionName                      0
Latitude                        0
Longitude                       0
HospitalizedPatients            0
IntensiveCarePatients           0
TotalHospitalizedPatients       0
HomeConfinement                 0
CurrentPositiveCases            0
NewPositiveCases                0
Recovered                       0
Deaths                          0
TotalPositiveCases              0
TestsPerformed               1155
dtype: int64

In [28]:
data.isnull().sum()  # 결측치 한눈에 확인

SNo                             0
Date                            0
Country                         0
RegionCode                      0
RegionName                      0
Latitude                        0
Longitude                       0
HospitalizedPatients            0
IntensiveCarePatients           0
TotalHospitalizedPatients       0
HomeConfinement                 0
CurrentPositiveCases            0
NewPositiveCases                0
Recovered                       0
Deaths                          0
TotalPositiveCases              0
TestsPerformed               1155
dtype: int64

In [36]:
data['RegionName'].value_counts()  # 범주형데이터로 기재되는 열에 대해서 범주별로 값이 몇개 있는지 확인 가능

RegionName
Abruzzo                  287
P.A. Bolzano             287
Valle d'Aosta            287
Umbria                   287
Toscana                  287
Sicilia                  287
Sardegna                 287
Puglia                   287
Piemonte                 287
P.A. Trento              287
Molise                   287
Basilicata               287
Marche                   287
Lombardia                287
Liguria                  287
Lazio                    287
Friuli Venezia Giulia    287
Emilia-Romagna           287
Campania                 287
Calabria                 287
Veneto                   287
Name: count, dtype: int64

In [40]:
data['RegionName'].value_counts().sum()  # 이 처럼 함수뒤에 함수를 붙일수 있음

6027

In [39]:
data['Country'].value_counts()

Country
ITA    6027
Name: count, dtype: int64

In [44]:
print("총 감염자: ", data['TotalPositiveCases'].sum(), "명")
print("전체 검사자: ", int(data['TestsPerformed'].sum()), "명")
print("사망자: ", data['Deaths'].sum(), "명")
print("회복자:", data['Recovered'].sum(), "명")

총 감염자:  103062445 명
전체 검사자:  1267114790 명
사망자:  8886032 명
회복자: 56279239 명

In [45]:
data.sum()  # 전체 데이터 합계 한눈에 확인

SNo                                                                   18159351
Date                         2020-02-24T18:00:002020-02-24T18:00:002020-02-...
Country                      ITAITAITAITAITAITAITAITAITAITAITAITAITAITAITAI...
RegionCode                                                               71463
RegionName                   AbruzzoBasilicataCalabriaCampaniaEmilia-Romagn...
Latitude                                                         259440.006226
Longitude                                                         73685.833704
HospitalizedPatients                                                   3068307
IntensiveCarePatients                                                   336863
TotalHospitalizedPatients                                              3405170
HomeConfinement                                                       34491987
CurrentPositiveCases                                                  37897157
NewPositiveCases                                                       1729061
Recovered                                                             56279239
Deaths                                                                 8886032
TotalPositiveCases                                                   103062445
TestsPerformed                                                    1267114790.0
dtype: object

### 데이터에서 상관관계 확인하기

In [48]:
data['TestsPerformed'].corr(data['TotalPositiveCases'])

0.8722532022962404

In [49]:
data['TestsPerformed'].corr(data['Deaths'])

0.6647142914858846

In [50]:
data['TotalPositiveCases'].corr(data['Deaths'])

0.7863555398726735

In [55]:
data2 = data.drop(['Latitude', 'Longitude', 'Country', 'Date', 'HospitalizedPatients', 'IntensiveCarePatients', 'TotalHospitalizedPatients', 'HomeConfinement', 'RegionCode', 'SNo', 'RegionName'], axis=1)
data2

,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,0,0,0,0,NaN
1,0,0,0,0,0,NaN
2,0,0,0,0,0,NaN
3,0,0,0,0,0,NaN
4,18,18,0,0,18,NaN
...,...,...,...,...,...,...
6022,39746,1022,29984,1759,71489,692062.0
6023,29199,753,76331,2867,108397,983103.0
6024,6065,234,18619,460,25144,231538.0
6025,987,34,5406,333,6726,34644.0
6026,76804,3444,84235,4210,165249,1090932.0

In [56]:
data2.corr()

,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
CurrentPositiveCases,1.000000,0.878294,0.688062,0.479631,0.881542,0.792406
NewPositiveCases,0.878294,1.000000,0.594320,0.432150,0.769681,0.750132
Recovered,0.688062,0.594320,1.000000,0.857293,0.947592,0.808176
Deaths,0.479631,0.432150,0.857293,1.000000,0.786356,0.664714
TotalPositiveCases,0.881542,0.769681,0.947592,0.786356,1.000000,0.872253
TestsPerformed,0.792406,0.750132,0.808176,0.664714,0.872253,1.000000