In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
plt.rcParams['axes.unicode_minus'] = False
custom_params = {"axes.spines.right": False, "axes.spines.top": False}
sns.set_theme(context='notebook',
              style='darkgrid',
              palette='pastel',
              font='Malgun Gothic',
              rc=custom_params)

In [3]:
entry_data = pd.read_csv("entry_data.csv")
sales_data = pd.read_csv("sales_data.csv")
item_data = pd.read_csv("item_data.csv")
item_entry_data = pd.read_csv("item_entry_data.csv")

In [8]:
entry_data.head(3)

,요금제명,입실,퇴실,이용,위치,금액,구분,고객
0,시간요금제(1시간),2022-04-01 23:39,2022-04-02 0:39,오전 1:00:00,선불기2,3000,퇴실,customer263717
1,시간요금제(1시간),2022-04-01 23:39,2022-04-02 0:39,오전 1:00:00,선불기2,3000,퇴실,customer263717
2,무제한 입장권,2022-04-01 20:55,2022-04-01 21:41,오전 12:46:00,선불기2,7400,퇴실,customer247263

In [9]:
sales_data.head(3)

               결제일시  판매위치         상품명  결제방식    비고  판매수량   결제금액              고객
0  2022-04-01 19:41  선불기1  치킨카라아케 6pc  신용카드  결제완료     1  4,500  customer275507
1  2022-04-01 19:41  선불기1  짜장라면(계란추가)  신용카드  결제완료     1  5,500  customer275507
2  2022-04-01 19:41  선불기1          라면  신용카드  결제완료     1  4,000  customer275507

In [10]:
item_data.head(3)

   구분     분류       상품명    판매금액
0   1  게임&TV  이어폰(커널형)  3,000원
1   2    디저트      초코머핀  3,500원
2   3    디저트   쿠키(초코칩)  1,500원

In [11]:
item_entry_data.head(3)

   순위     분류        상품명    판매금액
0   1   한국대생   한국대생 요금제  2,000원
1   2  심야-조조  심야-조조 요금제  5,000원
2   3    일반인      일반요금제  2,500원