In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as plticker
import seaborn as sns
import statsmodels.api as sm
import scipy
plt.rc('axes', unicode_minus=False)

In [57]:
custom_params = {"axes.spines.right": False, "axes.spines.top": False}
sns.set_theme(context='notebook',
              style='darkgrid',
              palette='pastel',
              font='Malgun Gothic',
              rc=custom_params)

In [58]:
df_pre = pd.read_csv("pre_operation.csv")
df_click = pd.read_csv("click_data.csv")
df_weather = pd.read_csv("weather.csv")

In [59]:
df_pre.head()

,target_dates,op_rate_0d_all_cars,op_rate_1d_all_cars,op_rate_2d_all_cars,op_rate_3d_all_cars,op_rate_4d_all_cars,op_rate_5d_all_cars,op_rate_6d_all_cars,op_rate_7d_all_cars,op_rate_0d_major_cars,op_rate_1d_major_cars,op_rate_2d_major_cars,op_rate_3d_major_cars,op_rate_4d_major_cars,op_rate_5d_major_cars,op_rate_6d_major_cars,op_rate_7d_major_cars
0,2019-11-20,0.316167,0.128829,0.073450,0.047983,0.041501,0.035837,0.028633,0.023602,0.354157,0.133284,0.078416,0.051335,0.043031,0.037124,0.030191,0.024724
1,2019-04-07,0.433710,0.165792,0.114138,0.091261,0.073171,0.060375,0.048367,0.040212,0.477168,0.162459,0.116169,0.092505,0.075456,0.062375,0.051132,0.040773
2,2020-09-20,0.470135,0.252650,0.181241,0.142521,0.117679,0.095518,0.076442,0.059885,0.469391,0.259594,0.186417,0.146953,0.120212,0.098140,0.078305,0.060749
3,2019-11-28,0.320862,0.132336,0.075752,0.052990,0.038522,0.033602,0.029606,0.025020,0.358306,0.140434,0.082168,0.057721,0.041842,0.036485,0.030878,0.027118
4,2021-06-26,0.444924,0.233424,0.174414,0.144886,0.123617,0.102621,0.086654,0.077878,0.426241,0.230812,0.167328,0.136924,0.114490,0.092528,0.078320,0.070913

In [60]:
df_click.head(15)

,target_dates,click_d_day,click_d_1,click_d_2,click_d_3,click_d_4,click_d_5,click_d_6,click_d_7
0,2019-01-23,0,0,0,0,0,0,0,0
1,2019-07-24,0,0,0,0,0,0,0,0
2,2019-08-21,0,0,0,0,0,0,0,0
3,2019-08-24,0,0,0,0,0,0,0,0
4,2019-08-25,0,0,0,0,0,0,0,0
5,2019-08-26,0,0,0,0,0,0,0,0
6,2019-08-29,0,0,0,0,0,0,0,0
7,2019-08-31,33,0,0,0,0,0,0,0
8,2019-09-01,265846,0,0,0,0,0,0,0
9,2019-09-02,218807,6761,0,0,0,0,0,0
10,2019-09-03,208567,11582,2167,0,0,0,0,0
11,2019-09-04,207250,12927,5700,1279,0,0,0,0
12,2019-09-05,211608,12305,6835,3502,1307,0,0,0
13,2019-09-06,225281,14673,8554,6819,6041,1962,0,0
14,2019-09-07,243573,18392,12402,11697,12723,10323,2007,0

In [61]:
df_weather.head()

         date  is_clean  avg_precipitation  avg_temperature
0  2018-01-01         1                0.0              0.2
1  2018-01-02         1                0.0              0.2
2  2018-01-03         0                0.4             -1.3
3  2018-01-04         0                0.7             -1.9
4  2018-01-05         0                2.4             -0.3

In [62]:
df_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   target_dates           939 non-null    object
 1   op_rate_0d_all_cars    939 non-null    float64
 2   op_rate_1d_all_cars    939 non-null    float64
 3   op_rate_2d_all_cars    939 non-null    float64
 4   op_rate_3d_all_cars    939 non-null    float64
 5   op_rate_4d_all_cars    939 non-null    float64
 6   op_rate_5d_all_cars    939 non-null    float64
 7   op_rate_6d_all_cars    939 non-null    float64
 8   op_rate_7d_all_cars    939 non-null    float64
 9   op_rate_0d_major_cars  939 non-null    float64
 10  op_rate_1d_major_cars  939 non-null    float64
 11  op_rate_2d_major_cars  939 non-null    float64
 12  op_rate_3d_major_cars  939 non-null    float64
 13  op_rate_4d_major_cars  939 non-null    float64
 14  op_rate_5d_major_cars  939 non-null    float64
 15  op_rate_6d_major_cars  939 non-null    float64
 16  op_rate_7d_major_cars  939 non-null    float64
dtypes: float64(16), object(1)
memory usage: 124.8+ KB

In [63]:
df_click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   target_dates  793 non-null    object
 1   click_d_day   793 non-null    int64
 2   click_d_1     793 non-null    int64
 3   click_d_2     793 non-null    int64
 4   click_d_3     793 non-null    int64
 5   click_d_4     793 non-null    int64
 6   click_d_5     793 non-null    int64
 7   click_d_6     793 non-null    int64
 8   click_d_7     793 non-null    int64
dtypes: int64(8), object(1)
memory usage: 55.9+ KB

In [64]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               1232 non-null   object
 1   is_clean           1232 non-null   int64
 2   avg_precipitation  1232 non-null   float64
 3   avg_temperature    1213 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 38.6+ KB

In [65]:
df_pre['target_dates'] = pd.to_datetime(df_pre['target_dates'])
df_click['target_dates'] = pd.to_datetime(df_click['target_dates'], format='%Y-%m-%d')
df_weather['date'] = pd.to_datetime(df_weather['date'], format='%Y-%m-%d')

In [66]:
# set를 이용한 결측치 확인 방법
set(pd.date_range(min(df_pre.target_dates), max(df_pre.target_dates))).difference(set(df_pre.target_dates))

set()

In [67]:
# 생성한 날짜 범위 내에서 누락된 날짜들을 찾음, 즉 date_range로 날짜 범위는 있지만 데이터프레임 안에서는 존재하지않는 날짜를 출력해줌.
set(pd.date_range(min(df_click.target_dates), max(df_click.target_dates))).difference(set(df_click.target_dates)) # 차집합

{Timestamp('2019-01-24 00:00:00'),
 Timestamp('2019-01-25 00:00:00'),
 Timestamp('2019-01-26 00:00:00'),
 Timestamp('2019-01-27 00:00:00'),
 Timestamp('2019-01-28 00:00:00'),
 Timestamp('2019-01-29 00:00:00'),
 Timestamp('2019-01-30 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-01 00:00:00'),
 Timestamp('2019-02-02 00:00:00'),
 Timestamp('2019-02-03 00:00:00'),
 Timestamp('2019-02-04 00:00:00'),
 Timestamp('2019-02-05 00:00:00'),
 Timestamp('2019-02-06 00:00:00'),
 Timestamp('2019-02-07 00:00:00'),
 Timestamp('2019-02-08 00:00:00'),
 Timestamp('2019-02-09 00:00:00'),
 Timestamp('2019-02-10 00:00:00'),
 Timestamp('2019-02-11 00:00:00'),
 Timestamp('2019-02-12 00:00:00'),
 Timestamp('2019-02-13 00:00:00'),
 Timestamp('2019-02-14 00:00:00'),
 Timestamp('2019-02-15 00:00:00'),
 Timestamp('2019-02-16 00:00:00'),
 Timestamp('2019-02-17 00:00:00'),
 Timestamp('2019-02-18 00:00:00'),
 Timestamp('2019-02-19 00:00:00'),
 Timestamp('2019-02-20 00:00:00'),
 Timestamp('2019-02-21 00:00:00'),
 Timestamp('2019-02-22 00:00:00'),
 Timestamp('2019-02-23 00:00:00'),
 Timestamp('2019-02-24 00:00:00'),
 Timestamp('2019-02-25 00:00:00'),
 Timestamp('2019-02-26 00:00:00'),
 Timestamp('2019-02-27 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-01 00:00:00'),
 Timestamp('2019-03-02 00:00:00'),
 Timestamp('2019-03-03 00:00:00'),
 Timestamp('2019-03-04 00:00:00'),
 Timestamp('2019-03-05 00:00:00'),
 Timestamp('2019-03-06 00:00:00'),
 Timestamp('2019-03-07 00:00:00'),
 Timestamp('2019-03-08 00:00:00'),
 Timestamp('2019-03-09 00:00:00'),
 Timestamp('2019-03-10 00:00:00'),
 Timestamp('2019-03-11 00:00:00'),
 Timestamp('2019-03-12 00:00:00'),
 Timestamp('2019-03-13 00:00:00'),
 Timestamp('2019-03-14 00:00:00'),
 Timestamp('2019-03-15 00:00:00'),
 Timestamp('2019-03-16 00:00:00'),
 Timestamp('2019-03-17 00:00:00'),
 Timestamp('2019-03-18 00:00:00'),
 Timestamp('2019-03-19 00:00:00'),
 Timestamp('2019-03-20 00:00:00'),
 Timestamp('2019-03-21 00:00:00'),
 Timestamp('2019-03-22 00:00:00'),
 Timestamp('2019-03-23 00:00:00'),
 Timestamp('2019-03-24 00:00:00'),
 Timestamp('2019-03-25 00:00:00'),
 Timestamp('2019-03-26 00:00:00'),
 Timestamp('2019-03-27 00:00:00'),
 Timestamp('2019-03-28 00:00:00'),
 Timestamp('2019-03-29 00:00:00'),
 Timestamp('2019-03-30 00:00:00'),
 Timestamp('2019-03-31 00:00:00'),
 Timestamp('2019-04-01 00:00:00'),
 Timestamp('2019-04-02 00:00:00'),
 Timestamp('2019-04-03 00:00:00'),
 Timestamp('2019-04-04 00:00:00'),
 Timestamp('2019-04-05 00:00:00'),
 Timestamp('2019-04-06 00:00:00'),
 Timestamp('2019-04-07 00:00:00'),
 Timestamp('2019-04-08 00:00:00'),
 Timestamp('2019-04-09 00:00:00'),
 Timestamp('2019-04-10 00:00:00'),
 Timestamp('2019-04-11 00:00:00'),
 Timestamp('2019-04-12 00:00:00'),
 Timestamp('2019-04-13 00:00:00'),
 Timestamp('2019-04-14 00:00:00'),
 Timestamp('2019-04-15 00:00:00'),
 Timestamp('2019-04-16 00:00:00'),
 Timestamp('2019-04-17 00:00:00'),
 Timestamp('2019-04-18 00:00:00'),
 Timestamp('2019-04-19 00:00:00'),
 Timestamp('2019-04-20 00:00:00'),
 Timestamp('2019-04-21 00:00:00'),
 Timestamp('2019-04-22 00:00:00'),
 Timestamp('2019-04-23 00:00:00'),
 Timestamp('2019-04-24 00:00:00'),
 Timestamp('2019-04-25 00:00:00'),
 Timestamp('2019-04-26 00:00:00'),
 Timestamp('2019-04-27 00:00:00'),
 Timestamp('2019-04-28 00:00:00'),
 Timestamp('2019-04-29 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-01 00:00:00'),
 Timestamp('2019-05-02 00:00:00'),
 Timestamp('2019-05-03 00:00:00'),
 Timestamp('2019-05-04 00:00:00'),
 Timestamp('2019-05-05 00:00:00'),
 Timestamp('2019-05-06 00:00:00'),
 Timestamp('2019-05-07 00:00:00'),
 Timestamp('2019-05-08 00:00:00'),
 Timestamp('2019-05-09 00:00:00'),
 Timestamp('2019-05-10 00:00:00'),
 Timestamp('2019-05-11 00:00:00'),
 Timestamp('2019-05-12 00:00:00'),
 Timestamp('2019-05-13 00:00:00'),
 Timestamp('2019-05-14 00:00:00'),
 Timestamp('2019-05-15 00:00:00'),
 Timestamp('2019-05-16 00:00:00'),
 Timestamp('2019-05-17 00:00:00'),
 Timestamp('2019-05-18 00:00:00'),
 Timestamp('2019-05-19 00:00:00'),
 Timestamp('2019-05-20 00:00:00'),
 Timestamp('2019-05-21 00:00:00'),
 Timestamp('2019-05-22 00:00:00'),
 Timestamp('2019-05-23 00:00:00'),
 Timestamp('2019-05-24 00:00:00'),
 Timestamp('2019-05-25 00:00:00'),
 Timestamp('2019-05-26 00:00:00'),
 Timestamp('2019-05-27 00:00:00'),
 Timestamp('2019-05-28 00:00:00'),
 Timestamp('2019-05-29 00:00:00'),
 Timestamp('2019-05-30 00:00:00'),
 Timestamp('2019-05-31 00:00:00'),
 Timestamp('2019-06-01 00:00:00'),
 Timestamp('2019-06-02 00:00:00'),
 Timestamp('2019-06-03 00:00:00'),
 Timestamp('2019-06-04 00:00:00'),
 Timestamp('2019-06-05 00:00:00'),
 Timestamp('2019-06-06 00:00:00'),
 Timestamp('2019-06-07 00:00:00'),
 Timestamp('2019-06-08 00:00:00'),
 Timestamp('2019-06-09 00:00:00'),
 Timestamp('2019-06-10 00:00:00'),
 Timestamp('2019-06-11 00:00:00'),
 Timestamp('2019-06-12 00:00:00'),
 Timestamp('2019-06-13 00:00:00'),
 Timestamp('2019-06-14 00:00:00'),
 Timestamp('2019-06-15 00:00:00'),
 Timestamp('2019-06-16 00:00:00'),
 Timestamp('2019-06-17 00:00:00'),
 Timestamp('2019-06-18 00:00:00'),
 Timestamp('2019-06-19 00:00:00'),
 Timestamp('2019-06-20 00:00:00'),
 Timestamp('2019-06-21 00:00:00'),
 Timestamp('2019-06-22 00:00:00'),
 Timestamp('2019-06-23 00:00:00'),
 Timestamp('2019-06-24 00:00:00'),
 Timestamp('2019-06-25 00:00:00'),
 Timestamp('2019-06-26 00:00:00'),
 Timestamp('2019-06-27 00:00:00'),
 Timestamp('2019-06-28 00:00:00'),
 Timestamp('2019-06-29 00:00:00'),
 Timestamp('2019-06-30 00:00:00'),
 Timestamp('2019-07-01 00:00:00'),
 Timestamp('2019-07-02 00:00:00'),
 Timestamp('2019-07-03 00:00:00'),
 Timestamp('2019-07-04 00:00:00'),
 Timestamp('2019-07-05 00:00:00'),
 Timestamp('2019-07-06 00:00:00'),
 Timestamp('2019-07-07 00:00:00'),
 Timestamp('2019-07-08 00:00:00'),
 Timestamp('2019-07-09 00:00:00'),
 Timestamp('2019-07-10 00:00:00'),
 Timestamp('2019-07-11 00:00:00'),
 Timestamp('2019-07-12 00:00:00'),
 Timestamp('2019-07-13 00:00:00'),
 Timestamp('2019-07-14 00:00:00'),
 Timestamp('2019-07-15 00:00:00'),
 Timestamp('2019-07-16 00:00:00'),
 Timestamp('2019-07-17 00:00:00'),
 Timestamp('2019-07-18 00:00:00'),
 Timestamp('2019-07-19 00:00:00'),
 Timestamp('2019-07-20 00:00:00'),
 Timestamp('2019-07-21 00:00:00'),
 Timestamp('2019-07-22 00:00:00'),
 Timestamp('2019-07-23 00:00:00'),
 Timestamp('2019-07-25 00:00:00'),
 Timestamp('2019-07-26 00:00:00'),
 Timestamp('2019-07-27 00:00:00'),
 Timestamp('2019-07-28 00:00:00'),
 Timestamp('2019-07-29 00:00:00'),
 Timestamp('2019-07-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-01 00:00:00'),
 Timestamp('2019-08-02 00:00:00'),
 Timestamp('2019-08-03 00:00:00'),
 Timestamp('2019-08-04 00:00:00'),
 Timestamp('2019-08-05 00:00:00'),
 Timestamp('2019-08-06 00:00:00'),
 Timestamp('2019-08-07 00:00:00'),
 Timestamp('2019-08-08 00:00:00'),
 Timestamp('2019-08-09 00:00:00'),
 Timestamp('2019-08-10 00:00:00'),
 Timestamp('2019-08-11 00:00:00'),
 Timestamp('2019-08-12 00:00:00'),
 Timestamp('2019-08-13 00:00:00'),
 Timestamp('2019-08-14 00:00:00'),
 Timestamp('2019-08-15 00:00:00'),
 Timestamp('2019-08-16 00:00:00'),
 Timestamp('2019-08-17 00:00:00'),
 Timestamp('2019-08-18 00:00:00'),
 Timestamp('2019-08-19 00:00:00'),
 Timestamp('2019-08-20 00:00:00'),
 Timestamp('2019-08-22 00:00:00'),
 Timestamp('2019-08-23 00:00:00'),
 Timestamp('2019-08-27 00:00:00'),
 Timestamp('2019-08-28 00:00:00'),
 Timestamp('2019-08-30 00:00:00')}

In [68]:
print(df_click[df_click.target_dates<'2019-08-30'])

  target_dates  click_d_day  click_d_1  click_d_2  click_d_3  click_d_4  \
0   2019-01-23            0          0          0          0          0
1   2019-07-24            0          0          0          0          0
2   2019-08-21            0          0          0          0          0
3   2019-08-24            0          0          0          0          0
4   2019-08-25            0          0          0          0          0
5   2019-08-26            0          0          0          0          0
6   2019-08-29            0          0          0          0          0

   click_d_5  click_d_6  click_d_7
0          0          0          0
1          0          0          0
2          0          0          0
3          0          0          0
4          0          0          0
5          0          0          0
6          0          0          0

In [69]:
df_click.drop(df_click[df_click.target_dates<'2019-08-30'].index, inplace=True) # .index는 조건에 해당하는 행들의 인덱스를 선택하는 것
set(pd.date_range(min(df_click.target_dates), max(df_click.target_dates))).difference(set(df_click.target_dates))

set()

In [70]:
df_click.head()

,target_dates,click_d_day,click_d_1,click_d_2,click_d_3,click_d_4,click_d_5,click_d_6,click_d_7
7,2019-08-31,33,0,0,0,0,0,0,0
8,2019-09-01,265846,0,0,0,0,0,0,0
9,2019-09-02,218807,6761,0,0,0,0,0,0
10,2019-09-03,208567,11582,2167,0,0,0,0,0
11,2019-09-04,207250,12927,5700,1279,0,0,0,0